<%- include('./partials/_header');  %> 



<%- include('./partials/2_header', {variant1 :'active'});  %> 





        <!-- Sidebar -->
        
        <nav class="navbar  navbar-light bg-light">
            <a class="brand" >Sala<i class="fa fa-arrow-right" aria-hidden="true">Sofa</i></a> 
        </nav>
                   
        <blockquote class="blockquote text-center">
            <p class="mb-0">Sofa casabella 3 cuerpos</p>
            
          </blockquote>

                  <div class="row">
                      <div class="col-sm-12 my-auto">
                          <div class="card-block w-75 mx-auto">
                    
                        <div class="float-layout">
                          <div class="card-image">
                            <img src="<%=baseURL%>/images/mueble1.png">
                            <div class="card">

                              
                              <div class="card-desc">
                                  <h2>Descripcion</h2>
                                Sofa Casabella 3 cuerpos mejor opcion para modernizar tu casa
                                <br> <br>
                                <p><strong>Material : </strong> Madera</p>
                                <p><strong>Material : </strong> Madera</p>
                                <p><strong>Material : </strong> Madera</p>
                                <p><strong>Material : </strong> Madera</p>
                                <p><strong>Material : </strong> Madera</p>
                              </div>
                            </div>
                            
                            
                          </div>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form" aria-label="Amount (to the nearest dollar)">
                            <a href="#" class="card-link btn btn-dark">Comprar</a>
                          </div>
                          <a href="#" class="btn btn-lg btn-danger">Agregar Bolsa</a>

                    </div>
                   
                    </div>
                    </div>
                    
                  
         



                


                
        
        <!-- /#page-content-wrapper -->

    </div>

</body>



</html>