



<%- include('./partials/_header');  %> 

<%- include('./partials/2_header', {variant1 :'active'});  %> 

<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand ">
                    <a class="d-flex justify-content-center"href="#">
                       <u> Salas</u>
                    </a>
                </li>
                <li>
                    <a href="#">Sofas</a>
                </li>
                <li>
                    <a href="#">Sofas Camas</a>
                </li>
                <li>
                    <a href="#">Mesas de living</a>
                </li>
                <li>
                    <a href="#">Estantes</a>
                </li>
                <li>
                    <a href="#">Banquetas</a>
                </li>
                <li>
                    <a href="#">Juegos de Sala</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="my-2 my-lg-0">

        </div>
       
        <div id="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <form class="form-inline my-2 my-lg-5 justify-content-center mx-auto ">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                    </div>
                </div>
            </div>

                   
            <div class="container">
                <div class="row">
                    <div class="col-4">
                <div class="card col-sm" style="width: 18rem;">

                  
                   
                    <img class="card-img-top" src="<%=baseURL%>/images/mueble1.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Mesa Lateral Atacama</h5>
                      <p class="card-text">SKU: 13016266.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body d-flex justify-content-center">
                      <a href="#" class="card-link btn btn-danger">Agregar Bolsa</a>
                      <a href="#" class="card-link btn btn-dark">Comprar</a>
                    </div>
                  </div>
                </div>

                                  




                  

                  
                </div>
            </div>
                </div>



                


                
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</body>



</html>