<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills justify-content-center">
        <li class="nav-item">
         
          <a class="nav-link <%= typeof variant1 != 'undefined' ? variant1 : 'default' %>" href="/">Salas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= typeof variant2 != 'undefined' ? variant2 : 'default' %>" href="/terrazas">Terrazas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= typeof variant3 != 'undefined' ? variant3 : 'default' %>" href="/dormitorio">Dormitorio</a>
        </li>
      </ul>
    </div>
  </div>

