

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills justify-content-center">
        <li class="nav-item">
         
        <a class="nav-link <%= typeof variant1 != 'undefined' ? variant1 : 'default' %>" href="/"><i class="far fa-circle"></i>Datos Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= typeof variant2 != 'undefined' ? variant2 : 'default' %>" href="/terrazas"><i class="far fa-circle"></i>Despacho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= typeof variant3 != 'undefined' ? variant3 : 'default' %>" href="/dormitorio"><i class="far fa-circle"></i>Cliente</a>
        </li>
      </ul>
    </div>
</div>
