<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <h2 class="navbar-brand" href="#">Confirmacion 3 pasos</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

    </div>

    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success mr-sm-2" type="search"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar Catalogo</button>
        
    </div>
  </nav>